body {
  background: black;
  color: white;
  font-family: sans-serif;

  .app {
    position: fixed;
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h3 {
      font-size: 50px;
    }

    p {
      font-size: 40px
    }
  }
}